---
import BaseLayout from '../../layouts/BaseLayout.astro';
import BlogPostListing from '../../components/BlogPostListing.astro';

export async function getStaticPaths() {
  const allPosts = Object.values(import.meta.glob('../posts/*.md', { eager: true }));
  const uniqueTags = [...new Set(allPosts.map(({ frontmatter: { tags } }) => tags).flat())]
  return uniqueTags.map(tag => ({params: {tag: tag}, props: {posts: allPosts, tags: uniqueTags}}))
}

const { tag } = Astro.params;
const { posts, tags } = Astro.props;
const filteredPosts = posts.filter((post: any) => post.frontmatter.tags?.includes(tag));
---

<BaseLayout pageTitle={tag}>
  <p>Posts tagged with {tag}</p>

  <ul>
    {filteredPosts.map((post: any) => <BlogPostListing url={post.url} title={post.frontmatter.title} /> )}
  </ul>

  <ul class="tag-list">
    {tags.map(tag => <li class="tag"><a href={`/tags/${tag}`}>{tag}</a></li>)}
  </ul>

</BaseLayout>

<style>
  .tag-list {
    display: flex;
  }

  .tag-list li {
    list-style: none;
    background-color: salmon;
    margin: .2rem;
  }

  .tag-list li a {
    padding: .3rem;
  }
</style>
