---
import { getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
import BlogPostListing from '../../components/BlogPostListing.astro';
import TagList from '../../components/TagList.astro'

export async function getStaticPaths() {
  const allPosts = await getCollection("blog");
  const uniqueTags = [...new Set(allPosts.map(({ data: { tags } }) => tags).flat())]
  return uniqueTags.map(tag => ({params: {tag: tag}, props: {posts: allPosts, tags: uniqueTags}}))
}

const { tag } = Astro.params;
const { posts, tags } = Astro.props;
const filteredPosts = posts.filter((post) => post.data.tags?.includes(tag));
---

<BaseLayout pageTitle={tag}>
  <p>Posts tagged with {tag}</p>

  <ul>
    {filteredPosts.map((post) => <BlogPostListing url={`/posts/${post.id}`} title={post.data.title} /> )}
  </ul>

  <div>
    <h3>All Tags</h3>
    <TagList tags={tags} />
  </div>
</BaseLayout>
